@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url("http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff") format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url("http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff") format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url("http://themes.googleusercontent.com/static/fonts/opensans/v6/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff") format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url("http://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff") format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url("http://themes.googleusercontent.com/static/fonts/opensans/v6/EInbV5DfGHOiMmvb1Xr-hnhCUOGz7vYGh680lGh-uXM.woff") format('woff');
}
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}
a {
  color: #039cae;
}
a:hover {
  color: #038c9d;
}
ul {
  list-style-type: none;
}
table {
  border-collapse: collapse;
  border: 0;
  width: 100%;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 24px;
}
h2 span,
h3 span {
  color: #999;
}
p {
  text-align: justify;
}
address {
  font-style: normal;
  line-height: 1.6;
}
span.date {
  color: #808080;
  line-height: 1.6;
  display: block;
  margin-bottom: 10px;
}
a.button {
  background: #039cae;
  padding: 7px 14px;
  text-transform: uppercase;
}
a.button:hover {
  background: #027d8b;
}
header#top {
  padding: 20px;
}
header#top a.brand {
  background: url("../img/224x68.png") no-repeat top left;
  width: 224px;
  height: 68px;
  display: block;
}
header#top nav ul {
  margin: 25px 0 0 0;
}
header#top nav ul li {
  display: inline-block;
}
header#top nav ul li:not(:first-child) {
  margin-left: 10px;
}
header#top nav ul li a {
  color: #444;
  padding: 9px 10px 11px;
  text-shadow: 0 -1px 0 rgba(255,255,255,0.25);
}
header#top nav ul li a:hover {
  border-bottom: 1px solid #ccc;
}
header#top nav ul li a.active {
  border-bottom: 1px solid #aaa;
}
section#hero {
  background: #f6f7f6 url("../img/bg2.png") repeat-x top left;
  padding: 30px 0 20px 0;
}
section#hero table#grid {
  background: transparent;
}
section#hero table#grid tr {
  background: transparent;
}
section#hero table#grid tr td:not(:last-child) {
  border-right: 1px dashed #ddd;
}
section#hero table#grid tr td img {
  opacity: 0.8;
}
section#hero table#grid tr td:hover img {
  opacity: 1;
}
section#hero table#grid tr:not(:last-child) td {
  border-bottom: 1px dashed #ddd;
}
section#content {
  background: #fbfbfb url("../img/bg1.png") repeat-x top left;
  padding: 20px 0;
}
footer#bottom {
  padding: 30px 0;
  background: url("../img/bg3.png");
  color: #ccc;
}
footer#bottom address,
footer#bottom p,
footer#bottom li {
  font-size: 11px;
}
