@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url("../fonts/OpenSans-Light.woff") format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url("../fonts/OpenSans.woff") format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url("../fonts/OpenSans-SemiBold.woff") format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url("../fonts/OpenSans-Bold.woff") format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url("../fonts/OpenSans-ExtraBold.woff") format('woff');
}
html {
  background: #080707;
}
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}
a {
  color: #039cae;
}
a:hover {
  color: #038c9d;
}
ul {
  list-style-type: none;
}
table {
  border-collapse: collapse;
  border: 0;
  width: 100%;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 24px;
}
h2 span,
h3 span {
  color: #999;
}
h2 a,
h3 a {
  color: inherit;
}
p {
  text-align: justify;
}
address {
  font-style: normal;
  line-height: 1.6;
}
span.date {
  color: #808080;
  line-height: 1.6;
  display: block;
  margin-bottom: 10px;
}
header#top {
  padding: 20px;
}
header#top a.brand {
  background: url("../img/224x68.png") no-repeat top left;
  width: 224px;
  height: 68px;
  display: block;
}
header#top nav ul {
  margin: 25px 0 0 0;
}
header#top nav ul li {
  display: inline-block;
}
header#top nav ul li:not(:first-child) {
  margin-left: 10px;
}
header#top nav ul li a {
  color: #444;
  padding: 9px 10px 11px;
  text-shadow: 0 -1px 0 rgba(255,255,255,0.25);
}
header#top nav ul li a:hover {
  border-bottom: 1px solid #ccc;
}
header#top nav ul li a.active {
  border-bottom: 1px solid #aaa;
}
section#hero {
  background: #f6f7f6 url("../img/bg2.png") repeat-x top left;
  padding: 30px 0 20px 0;
}
section#hero table#grid {
  background: transparent;
}
section#hero table#grid tr {
  background: transparent;
}
section#hero table#grid tr td {
  vertical-align: middle;
}
section#hero table#grid tr td:not(:last-child) {
  border-right: 1px dashed #ddd;
}
section#hero table#grid tr td img {
  opacity: 0.8;
}
section#hero table#grid tr td:hover img {
  opacity: 1;
}
section#hero table#grid tr:not(:last-child) td {
  border-bottom: 1px dashed #ddd;
}
section#content {
  background: #fbfbfb url("../img/bg1.png") repeat-x top left;
  padding: 20px 0;
}
section#content table {
  margin: 20px 0;
}
section#content table td {
  vertical-align: middle;
}
section#content table p {
  font-size: 11px;
}
section#content table thead {
  background: transparent;
}
footer#bottom,
footer#copyright {
  padding: 30px 0;
  background: url("../img/bg3.png");
  color: #ccc;
}
footer#bottom address,
footer#copyright address,
footer#bottom p,
footer#copyright p,
footer#bottom li,
footer#copyright li {
  font-size: 12px;
}
footer#copyright {
  border-top: 1px dashed #333;
  background: #080707;
  color: #fff;
}
a.btn {
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: inset 1px 1px 1px rgba(255,255,255,0.3), inset 0 1px 0 rgba(255,255,255,0.2);
  -moz-box-shadow: inset 1px 1px 1px rgba(255,255,255,0.3), inset 0 1px 0 rgba(255,255,255,0.2);
  -o-box-shadow: inset 1px 1px 1px rgba(255,255,255,0.3), inset 0 1px 0 rgba(255,255,255,0.2);
  box-shadow: inset 1px 1px 1px rgba(255,255,255,0.3), inset 0 1px 0 rgba(255,255,255,0.2);
  color: #fff;
  text-shadow: 1px 1px 0 #444;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  display: inline-block;
  position: relative;
  text-decoration: none;
  cursor: pointer;
  padding: 6px 12px;
  font-weight: 400;
  vertical-align: middle;
}
a.btn:hover {
  border-color: rgba(90,90,90,0.6);
}
a.btn:active {
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3) inset;
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.3) inset;
  -o-box-shadow: 0 0 10px rgba(0,0,0,0.3) inset;
  box-shadow: 0 0 10px rgba(0,0,0,0.3) inset;
}
a.btn.bondi {
  background: #039cae;
  background-image: linear-gradient(bottom, #026d7a 1%, #039cae 55%);
  background-image: -o-linear-gradient(bottom, #026d7a 1%, #039cae 55%);
  background-image: -ms-linear-gradient(bottom, #026d7a 1%, #039cae 55%);
  background-image: -moz-linear-gradient(bottom, #026d7a 1%, #039cae 55%);
  background-image: -webkit-linear-gradient(bottom, #026d7a 1%, #039cae 55%);
  border-color: #027d8b #026571 #025e68 #026d7a;
}
a.btn.bondi:hover {
  background-image: linear-gradient(bottom, #027d8b 1%, #039cae 35%);
  background-image: -o-linear-gradient(bottom, #027d8b 1%, #039cae 35%);
  background-image: -ms-linear-gradient(bottom, #027d8b 1%, #039cae 35%);
  background-image: -moz-linear-gradient(bottom, #027d8b 1%, #039cae 35%);
  background-image: -webkit-linear-gradient(bottom, #027d8b 1%, #039cae 35%);
}
a.btn.picton {
  background: #52bbec;
  background-image: linear-gradient(bottom, #1690c9 1%, #52bbec 55%);
  background-image: -o-linear-gradient(bottom, #1690c9 1%, #52bbec 55%);
  background-image: -ms-linear-gradient(bottom, #1690c9 1%, #52bbec 55%);
  background-image: -moz-linear-gradient(bottom, #1690c9 1%, #52bbec 55%);
  background-image: -webkit-linear-gradient(bottom, #1690c9 1%, #52bbec 55%);
  border-color: #19a4e5 #1485ba #137bac #1690c9;
}
a.btn.picton:hover {
  background-image: linear-gradient(bottom, #19a4e5 1%, #52bbec 35%);
  background-image: -o-linear-gradient(bottom, #19a4e5 1%, #52bbec 35%);
  background-image: -ms-linear-gradient(bottom, #19a4e5 1%, #52bbec 35%);
  background-image: -moz-linear-gradient(bottom, #19a4e5 1%, #52bbec 35%);
  background-image: -webkit-linear-gradient(bottom, #19a4e5 1%, #52bbec 35%);
}
a.btn.fern {
  background: #62b974;
  background-image: linear-gradient(bottom, #3d894d 1%, #62b974 55%);
  background-image: -o-linear-gradient(bottom, #3d894d 1%, #62b974 55%);
  background-image: -ms-linear-gradient(bottom, #3d894d 1%, #62b974 55%);
  background-image: -moz-linear-gradient(bottom, #3d894d 1%, #62b974 55%);
  background-image: -webkit-linear-gradient(bottom, #3d894d 1%, #62b974 55%);
  border-color: #469d58 #397f47 #347542 #3d894d;
}
a.btn.fern:hover {
  background-image: linear-gradient(bottom, #469d58 1%, #62b974 35%);
  background-image: -o-linear-gradient(bottom, #469d58 1%, #62b974 35%);
  background-image: -ms-linear-gradient(bottom, #469d58 1%, #62b974 35%);
  background-image: -moz-linear-gradient(bottom, #469d58 1%, #62b974 35%);
  background-image: -webkit-linear-gradient(bottom, #469d58 1%, #62b974 35%);
}
a.btn.jaffa {
  background: #f26a46;
  background-image: linear-gradient(bottom, #cc360e 1%, #f26a46 55%);
  background-image: -o-linear-gradient(bottom, #cc360e 1%, #f26a46 55%);
  background-image: -ms-linear-gradient(bottom, #cc360e 1%, #f26a46 55%);
  background-image: -moz-linear-gradient(bottom, #cc360e 1%, #f26a46 55%);
  background-image: -webkit-linear-gradient(bottom, #cc360e 1%, #f26a46 55%);
  border-color: #e93e10 #bd320d #af2e0c #cc360e;
}
a.btn.jaffa:hover {
  background-image: linear-gradient(bottom, #e93e10 1%, #f26a46 35%);
  background-image: -o-linear-gradient(bottom, #e93e10 1%, #f26a46 35%);
  background-image: -ms-linear-gradient(bottom, #e93e10 1%, #f26a46 35%);
  background-image: -moz-linear-gradient(bottom, #e93e10 1%, #f26a46 35%);
  background-image: -webkit-linear-gradient(bottom, #e93e10 1%, #f26a46 35%);
}
a.tag {
  margin: 6px 6px 8px 12px;
  padding: 0 10px 0 12px;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  display: inline-block;
  height: 24px;
  line-height: 24px;
  position: relative;
  font-size: 11px;
}
a.tag:before {
  content: "";
  position: absolute;
  top: 0;
  left: -12px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 12px 12px 0;
}
a.tag:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 4px;
  height: 4px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
a.tag.bondi {
  background: #039cae;
  color: #fff;
  text-shadow: 1px 1px 0 #027d8b;
}
a.tag.bondi:before {
  border-color: transparent #039cae transparent transparent;
}
a.tag.bondi:after {
  background: #fff;
}
a.tag.picton {
  background: #52bbec;
  color: #fff;
  text-shadow: 1px 1px 0 #19a4e5;
}
a.tag.picton:before {
  border-color: transparent #52bbec transparent transparent;
}
a.tag.picton:after {
  background: #fff;
}
a.tag.fern {
  background: #62b974;
  color: #fff;
  text-shadow: 1px 1px 0 #469d58;
}
a.tag.fern:before {
  border-color: transparent #62b974 transparent transparent;
}
a.tag.fern:after {
  background: #fff;
}
a.tag.jaffa {
  background: #f26a46;
  color: #fff;
  text-shadow: 1px 1px 0 #e93e10;
}
a.tag.jaffa:before {
  border-color: transparent #f26a46 transparent transparent;
}
a.tag.jaffa:after {
  background: #fff;
}
